
body {
    background: url("webtms2_files/bg4.jpg") repeat;
    font-size: 12px;
}

.list-group-item {
    border-left-width: 0;
    border-right-width: 0;
}
#collapseCourses .table-bordered {
    border-width: 0;
}

.panel, .list-group-item {
    background: rgba(100, 100, 100, 0.4);
    color: white;
}
.panel-default .panel-heading {
    background: rgba(50, 50, 50, 0.3);
    color: white;
}

.panel-heading a {
    color: white;
}

.panel, .panel .list-group-item  {
    border-color: rgba(200, 200, 200, 0.4);

}

.panel .list-group-item:hover, .panel .list-group-item.active, tr:hover, tr.active {
    background-color: rgba(200, 200, 200, 0.5);
}

.navbar-inverse {
    background-color: rgba(0,0,0, 0.6);
}

.table>tbody>tr.active>td {
    background-color: rgba(200, 200, 200, 0.5);
}